**/__pycache__
**/.vscode
**/.DS_Store
**/.ipynb_checkpoints/
**/.cache/
**/.vs
out/
video_frames/
*.ini
*.mp4
*.gif
*.jpg
*.pt
preproc/mpp/*.npy
erik_gan_viewer/
figures/datasets/cache/
figures/latents_barn/cache/
figures/**/*.pdf
figures/memorization/*.svg
preproc/AMOS/AMOS_files/
